@page "/employee"

<h1>Save Employee</h1>
<form>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm form-group">
                <label for="firstName">First Name</label>
                <input for="NameFirst" id="firstName" class="form-control" placeholder="Enter First Name" />
            </div>


        </div>
    </div>
</form>




@code {



}
