
<RadzenCard Style="width:600px; margin-bottom: 20px; height:500px;">
    <div class="row">
        <div class="col-md-6">
            <div>Company:</div>
            <b>MNK</b>
            <div style="margin-top:20px">Employee:</div>
            <b>Nitin Kunte</b>
            <br />
            <RadzenImage Path="https://lh3.googleusercontent.com/-5_hw5Z_b6vE/AAAAAAAAAAI/AAAAAAAAAFY/CQMh87RLIog/photo.jpg" Style="width:100px;" />
        </div>
        <div class="col-md-6">
            <div>Freight:</div>
            <b>Date</b>
            <div style="margin-top:20px">Ship country:</div>
            <b>Country</b>
            <div style="margin-top:20px">Ship city:</div>
            <b>City</b>
            <div style="margin-top:20px">Ship name:</div>
            <b>Ship name</b>
        </div>
    </div>
</RadzenCard>



@code {

}
